<h3 class="text-center">That's About Me !</h3>
<h4 class="bg-info">Professional</h4>
<p>
    Hello there! My name is Vivek and i'm basically a Frontend developer with about 5.9 years of experience in developing hybrid application that works across resolutions.
    I have strong knowledge in open source UI technologies like HTML5, CSS3, jQuery, JS (oops), Bootstrap, Angular JS, Kendo UI etc. alongside server side scripting PHP and Drupal.
    I'm a cool guy with an open mind to accept things and learn new stuffs coming along the way and very passionate in exploring hot and trendy UI stuffs that are out in the market.

</p>
<p>During my tenure, I have been working in many projects which involved lot of interesting stuffs and challenges to be faced which has paved the way in my career growth in terms of learning.</p>
<h4 class="bg-info">Personal</h4>
<p>
    I was born and raised in Chennai, India.
<p>Always conscious about weight management, control my cravings and try to eat healthy food. ( But at times i hear junk foods calling me, doesn't seem good if i neglect them. Isn't, right?)
<p>I like to hear songs and sometimes sing. (Always feel that i should not repeat the mistake.)</p>
<p>Apart from hearing songs, i even do some cooking. (Surprisingly has been coming out well in recent times.)</p>

</p>
<p>
    <a href="{{resumePath}}">Click to know more about me!</a>
</p>
